/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*colores principales*/
:root {
  --color_negro: #000000ec;
  --color_gris: #3535352e;
  --color_gris-oscuro: #4d4d4daf;
  --color_gris-claro: #efeeee;
  --color_blanco: #ffffff;
  --color_rojo: #af0606fa;
  --color_verde: #00901d;
  --color_naranja: #d7520f;
}
/*Estilos generales*/
body {
  background: var(--color_blanco);
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  font-size: 1.6rem;
  font-weight: 600;
}
input {
  font-size: 1.6rem;
  background-color: var(--color_gris-claro);
}
input:focus {
  background-color: var(--color_blanco);
}
button {
  font-size: 1.5rem;
}
a {
  width: 15%;
  padding-top: 5px;
  margin-top: 20px;
  height: 40px;
  background-color: var(--color_negro);
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--color_blanco);
  text-align: center;
  box-shadow: 1px 1px 12px var(--color_gris-claro);
  border: 2px solid var(--color_gris-claro);
  border-radius: 25px;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}
a:hover {
  background-color: var(--color_gris-oscuro);
  box-shadow: 2px 2px 50px var(--color_gris-claro);
}
label {
  font-size: 1.7rem;
}

/*Estilos encabezado*/
.encabezado {
  display: grid;
  grid-template-rows: 370px;
  gap: 10px;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0px;
  background-image: url("../../src/imagenes/technology-1283624_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.encabezado::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ); /* Oscurece con un color negro semitransparente */
  z-index: 1;
}

.encabezado h1 {
  position: relative;
  z-index: 2; /* Asegura que el texto esté por encima del overlay */
  color: white;
  text-align: center;
  padding-top: 90px;
}

.encabezado nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  z-index: 2; /* Asegura que el texto esté por encima del overlay */
  color: white;
  text-align: center;
}

.encabezado-formulario {
  position: relative;
  width: 100%;
  max-height: 200px;
  margin: 0px;
  background-image: url("../../src/imagenes/technology-1283624_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.encabezado-formulario::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ); /* Oscurece con un color negro semitransparente */
  z-index: 1;
}

.encabezado-formulario h1 {
  position: relative;
  z-index: 2; /* Asegura que el texto esté por encima del overlay */
  color: white;
  text-align: center;
  font-size: 6rem;
}

.encabezado-formulario nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  z-index: 2; /* Asegura que el texto esté por encima del overlay */
  color: white;
  text-align: center;
}

.titulo {
  max-width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  color: var(--color_blanco);
  text-align: center;
}

.titulo-secundario {
  color: var(--color_gris-oscuro);
  text-align: center;
}

.sub-titulo {
  color: var(--color_gris-oscuro);
  text-align: left;
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: -12px;
}

/* formulario */
.seccion-formulario {
  max-width: 80%;
  min-height: 635px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.formulario {
  width: 95%;
}

/* registros */
.container-registros {
  background: linear-gradient(
    to bottom,
    var(--color_gris-claro),
    var(--color_blanco)
  );
  border-radius: 5px 40px 40px 5px;
  width: 100%;
  box-shadow: 0px 15px 10px var(--color_gris);
  -webkit-border-radius: 5px 5px 5px 30px;
  -moz-border-radius: 5px 40px 40px 5px;
  -ms-border-radius: 5px 40px 40px 5px;
  -o-border-radius: 5px 40px 40px 5px;
}

#registros {
  display: block;
  margin-top: 20px;
  width: 100%;
}

.p-registro {
  width: 60%;
  margin: 0px;
  margin-left: 20px;
  padding: 5px;
  border-bottom: 1px dashed var(--color_gris-oscuro);
}

.estilo-registro {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
}

/* estilos para los input */
.container-input {
  width: 100%;
  margin: 0 auto;

  & {
    font-size: 2rem;
    margin-bottom: 25px;
  }
}

.caja-input {
  width: 100%;
  padding: 8px 0px;
  margin-top: 5px;
  padding-left: 5px;
  background-color: var(--color_gris-claro);
  outline: none;
  border-radius: 5px;
  border: solid 1px #c2c2c2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* estilos botones */
.container-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.boton-crear {
  width: 25%;
  background-color: var(--color_verde);
  color: var(--color_blanco);
  padding: 4px;
  box-shadow: 1px 1px 7px #000000;
  border: none;
  transition: background 200ms linear;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: background 200ms linear;
  -moz-transition: background 200ms linear;
  -ms-transition: background 200ms linear;
  -o-transition: background 200ms linear;
}
.boton-crear:focus {
  background-color: var(--color_verde);
}
.boton-crear:hover {
  background-color: #00c026;
}

.boton-reset {
  width: 25%;
  background-color: var(--color_naranja);
  color: var(--color_blanco);
  padding: 5px;
  box-shadow: 1px 1px 7px #000000;
  border: none;
  transition: background 200ms linear;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: background 200ms linear;
  -moz-transition: background 200ms linear;
  -ms-transition: background 200ms linear;
  -o-transition: background 200ms linear;
}
.boton-reset:focus {
  background-color: var(--color_naranja);
}
.boton-reset:hover {
  background-color: #ff5e00;
}

.boton-borrar {
  width: fit-content;
  height: 30px;
  background-color: var(--color_rojo);
  color: var(--color_blanco);
  padding: 0px 5px;
  box-shadow: 1px 1px 7px #000000;
  border: none;
  transition: background 200ms linear;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.boton-borrar:hover {
  background-color: #db0b54;
}

.boton-editar {
  width: fit-content;
  height: 30px;
  background-color: var(--color_naranja);
  color: var(--color_blanco);
  padding: 0px 5px;
  box-shadow: 1px 1px 7px #000000;
  border: none;
  transition: background 200ms linear;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: background 200ms linear;
  -moz-transition: background 200ms linear;
  -ms-transition: background 200ms linear;
  -o-transition: background 200ms linear;
}
.boton-editar:hover {
  background-color: #fa9107;
}

/* estilos alertas */
.alerta {
  position: relative;
  width: 30%;
  margin: 0 auto;
  padding: 4px;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  z-index: 10;
  background-color: #d7520f;
  color: var(--color_blanco);
  font-size: 1.2rem;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
}

.bgAlerta {
  background-color: #eed5c9;
}

/* mensage de campos vacios */
#mensage {
  height: 20px;
}
.mensage {
  width: 40%;
  line-height: 2;
  margin: 0 auto;
  text-align: center;
  background-color: var(--color_verde);
  color: var(--color_blanco);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Pie de pagina */
.pie-pagina {
  width: 100%;
  padding: 15px;
  background-color: var(--color_negro);
  & p {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5px;
    color: var(--color_blanco);
    text-align: center;
  }
}

/* estilos modidificar estado de mensaje inicial no hay registros */
.no-visible {
  display: none;
  visibility: hidden;
}

.visible {
  display: block;
  padding-left: 60px;
}

.animacion-texto {
  width: 100;
  animation: offTexto 3000ms ease-in 1 forwards;
  -webkit-animation: offTexto 2000ms ease-in-out 1 forwards;
}
@keyframes offTexto {
  from {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
  20% {
    opacity: 0.3;
  }

  50%{
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    opacity: 0;
    display: none;
  }
}

/* media querys */
@media(max-width: 1120px) {
  .seccion-formulario {
    display: grid;
    grid-template-columns: 100%;
    gap: 50px;
  }
}

@media(max-width: 800px) {
  .titulo {
    font-size: 4rem;
  }

  .encabezado {
    grid-template-rows: 250px;
  }

  .encabezado nav {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .encabezado h1 {
    padding-top: 60px;
  }

  a {
    width: 40%;
  }

}

